*{
    box-sizing: border-box;

}

body{
    font-size: 70px;
    color: #fff;  
    background: #00ff00;  
}


table{
    margin-left: 100px;
    margin-top: 100px;
    border-collapse: collapse;
}

.tabla-puntos-1 tbody{
    background-color: blue;
    border: 4px solid #fff;
}

.tabla-squad .squad-pointer{
    background-color: blue;
    border: 4px solid #fff;
}

.p{
    color: #00ff00;
    font-size: 50px;
}

.puntuacion{
    font-size: 50px;
    -webkit-text-stroke: 2px black;
    color: transparent; 
    color: #fff;
    text-align: left;
}


.saque{
    font-size: 50px;
    width: 85px;
    margin-top: 12px;
    border-bottom: 4px solid #fff;
}


.parejas{
    padding-left: 30px;
    margin-right: 0px;
    border-bottom: 4px solid #fff;
    width: auto;
    min-height: 86px;
    min-width: 300px;
    justify-content: center;
    align-items: center;
}

.parejas-squad1{
    margin-right: 0px;
    border-bottom: 4px solid #fff;
    width: auto;
    min-height: 86px;
    min-width: 800px;
    justify-content: center;
    text-align-last: right;
}

.parejas-squad2{
    margin-right: 0px;
    border-bottom: 4px solid #fff;
    width: auto;
    min-height: 86px;
    min-width: 800px;
    justify-content: center;
    text-align-last: left;
}

.puntos{
    width: 100px;
    padding: 0px 10px;
    background: #fff;
    color: blue;
    box-shadow: inset 0 0 0 2px blue;
}

.oro{
    width: 100px;
    padding: 0px 10px;
    background: yellow;
    color: blue;
    box-shadow: inset 0 0 0 2px blue;
}

.tbr{
    width: 100px;
    padding: 0px 10px;
    background: red;
    color: #fff;
    box-shadow: inset 0 0 0 2px #fff;
}

.puntos1{
    padding: 0px 20px;
    border-bottom: 4px solid #fff;
}

.set{
    width: 75px;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
}

.set1{
    width: 75px;
    background-color: black;
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
    border-right: 4px solid #fff;
}

.nombres{
    display: inline-block;
}


.sign-final{
    height: 20px;
    border-bottom: 4px solid #fff;
    border-right: none;
    background-color: none;
}

.final-row1{
    width: 230px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
    color: #000;
    border: none;
    background-color: none;
    font-size: 46px;
}